/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@import url(bootstrap.min.css);


/* --- action menu --- */

.action-menu-wrapper { /* Fix for IE z-index problem */
    position:   relative;
    top: -4px;
    left: 0;
    z-index:    1;
    padding-bottom: 24px;
    margin-top: 10px;
}

.action-menu-wrapper ul {
    position:   absolute;
    background-color: #f5f5f5;
    width:     100%;
}

.action-menu-wrapper li {
    float: right;
}

.portlet-action-menu, .portlet-action-menu * {
    margin:         0;
    padding:        0;
    list-style:     none;
}

.portlet-action-menu {
    float:          left;
    margin-bottom:  1em;
    line-height:    1.0;
}

.portlet-action-menu ul {
    position:       absolute;
    top:            -999em;
    width:          12.5em; /* left offset of submenus need to match (see below) */
}

.portlet-action-menu ul li {
    width:          112%;
    float:          left;
}

.portlet-action-menu li {
    float:          right;
    position:       relative;
}

.portlet-action-menu li li {
    background:     #a7a7a7;
    border:         1px solid #FFF;
    border-bottom: none;
}

.portlet-action-menu li li li {
    background:     #a7a7a7;
    right:          1.7em;
    border:         1px solid #FFF;
    border-bottom: none;
}

.portlet-action-menu li:hover {
    visibility:     inherit; /* fixes IE7 'sticky bug' */
}

.portlet-action-menu a {
    display:        block;
    position:       relative;
    padding:        .75em 1em;
    text-decoration:none;
    font-weight:    bold;
    white-space:    nowrap;
    cursor:         pointer;
}

.portlet-action-menu li ul {
    right:          1.6em;
}

.portlet-action-menu li:hover ul,
.portlet-action-menu li.sfHover ul {
    right:          1.6em;
    top:            2.4em; /* match top ul list item height */
    z-index:        99;
}

ul.portlet-action-menu li:hover li ul,
ul.portlet-action-menu li.sfHover li ul {
    top:            -999em;
}

ul.portlet-action-menu li li:hover ul,
ul.portlet-action-menu li li.sfHover ul {
    left:           -12.5em; /* match ul width */
    top:            -1px;
}

ul.portlet-action-menu li li:hover li ul,
ul.portlet-action-menu li li.sfHover li ul {
    top:            -999em;
}

ul.portlet-action-menu li li li:hover ul,
ul.portlet-action-menu li li li.sfHover ul {
    left:           -12.5em; /* match ul width */
    top:            0;
}

.portlet-action-menu li:hover, .portlet-action-menu li.sfHover,
.portlet-action-menu a:focus, .portlet-action-menu a:hover, .portlet-action-menu a:active {
    background:     #C0C0C0;
    outline:        0;
    color:          #0066CC;
}

/* --- end action menu --- */



body {
	background-color: #fafafa;
	font-size: 13px;
}

img {
	vertical-align: none;
}

.navbar {
	position: inherit;
}

.navbar-default {
	background-color: #fff;	
}

.navbar-default .navbar-nav>li>a {
	color: #074c87;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
	font-weight: bold;
}

.lfr-actions .lfr-trigger, .lfr-actions .lfr-trigger strong {
	background-image: none;
	border-left: 0.1em dotted black;
}

#banner {
	background: transparent url(../images/banner_bg.jpg) repeat-x 20% 0;
	min-width: 100%;
	top: -1px;
	padding-top: 8px;
	min-height: 100px
}

#banner .logo {
	color: #fff;
	display: block;
	padding: 0;
	padding-left: 0px;
	float: left;
}

.site-name {
	float: left;
	margin-top: 20px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #fff;
	background-color: #074c87;
}

#banner .logo a {
	background: url(../images/company_logo.png) no-repeat;
	display: block;
	font-size: 0;
	height: 70px;
	text-indent: -9999em;
	width: 250px;
}

.portlet-draggable .portlet-topper {
	cursor: move;
}

.alert {
	padding: 2px;
}

.alert-info {
	background-color: #c6d3e0;
	color: #000;	
}

h5 {
	font-weight: bold;
}

.portlet-msg-info, .lfr-message-info {
	background-image: none;	
}

.portlet-msg-error, .lfr-message-error {
	background-image: none;
}

.accordion-header-middle {
	padding-bottom: 25px;
}

/*h4 {
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 0px;
}*/

.portlet-body {
	margin: 8px;
}

.dropdown-backdrop {
	position: static;
}